<!--FONT AWESOME-->
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="footer">&copy;<span id="year"> </span><span> CarsAndCo. All rights reserved.</span></div>
