.footer {
  width: 100%;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.784);
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: auto;

  // Pour s'assurer que le footer reste en bas
  &:not(:empty) {
    min-height: 60px; // Hauteur minimale du footer
  }
}
